@import 'vars';
@import 'typography';

body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: white;
}

header {
	background: #06cca1;
	color: white;
}

.container {
	width: 80%;
	margin: 70px auto;
}

.nav-heading {
	padding: 25px;
	font-size: 18px;
}

.clickable {
	cursor: pointer;
}

.fs-10 {
	font-size: 10px;
}

.fs-12 {
	font-size: 12px !important;
}

.fs-14 {
	font-size: 14px;
}

.fs-16 {
	font-size: 16px;
}

.fs-18 {
	font-size: 18px;
}

.bold {
	font-weight: bold;
}

.ellipsis {
	white-space: nowrap;
  	overflow: hidden;
	text-overflow: ellipsis;
}

.multiline-ellipsis {
    display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;  
	overflow: auto;
}

.project-card {
	float: left;
	border: 1px solid tranparent;
	width: 30%;
	margin: 40px 40px 0 0;
}

.new-project-card {
	color: #ccc;
}

.new-project-card:hover {
	box-shadow: 0 1px 3px 0 #D4D4D5, 0 0 0 1px #06cca1 !important;
	color: #06cca1;
	box-shadow: none;
}

.task-card {
	border-width: 0 0 0 2px !important;
	border-radius: 0 !important;
	border-style: solid !important;
	background-color: #f5f5f5 !important;
	box-shadow: none !important;
	cursor: move;
}

.new-task-card {
	border-width: 1px !important;
	border-radius: 0 !important;
	border-color: #f5f5f5 !important;
	background-color: #f5f5f5 !important;
	box-shadow: none !important;
	color: #ccc;
}

.new-task-card:hover {
	border-width: 1px !important;
	border-style: solid !important;
	border-color: #06cca1 !important;
	background-color: #fff !important;
	color: #06cca1;
}

.user-name-box {
	border-radius: 4px;
	text-align: center; 
	padding: 25px; 
	margin-bottom: 15px;
	background: white;
	box-shadow: 0 1px 3px 0 #D4D4D5, 0 0 0 1px #D4D4D5;
}

.user-task-container {
	overflow: auto;
    white-space: nowrap;
    margin: 40px 0 0 40px;
}

.user-task {
	width: 270px;
	border-style: dashed;
	border-width: 0 0 0 1px;
	border-color: #c9c9c9;
	display: inline-block;
	vertical-align:top;
	padding: 10px;
	height: 100vh;
}

.dropdown-custom {
	padding: 0 5px;
	border-radius: 10px;
	background: #efefef;
	color: white;
}

.submit-button {
	padding: 8px 20px !important;
	background: #06cca1 !important;
	color: white !important;
	border-style: solid !important;
	border-radius: 50px !important;
	border-width: 1px !important;
}

.cancel-button {
	padding: 8px 20px !important;
	background: white !important;
	color: grey !important;
	border-style: solid !important;
	border-radius: 50px !important;
	border-width: 1px !important;
	border-color: grey !important;
	margin-righr: 20px !important;
}

.popup {
	background: red;
	padding: 0 !important;
}

@media screen and (max-width: 767px) {
	.container {
		width: 100%;
	}

	.project-card {
		width: 100%;
	}
}