<div ng-include src="'header.html'"></div>
<div class="container">
	<div class="ui grid stackable">
		<div ng-repeat="p in projects track by $index" class="five wide column">
			<div project-card-directive title="{{p.title}}" description="{{p.description}}" pid="{{p.id}}" members="{{p.members.length}}">???</div>
		</div>

		<div class="five wide column">
			<div class="ui centered card new-project-card new-product-form-button clickable" style="padding: 50px; text-align: center; height: 150px; ">
			  <div><i class="plus square outline icon"></i></div>
			  <p class="fs-12">Create New Project</p>
			</div>
			<div class="ui special popup">
				<div project-form-directive class="ui" allmembers="users" create-new-project="createNewProject(title, description, selectedMembers)">???</div>
			</div>
		</div>
	</div>
</div>