<div style="float: right; padding: 20px; color: white" ui-sref="Home">
	<i class="big white remove icon link"></i>
</div>
<div ng-include src="'header.html'"></div>
<div  class="user-task-container">
	<div class="user-task" ng-repeat="u in userTasksObj track by $index">

		<div class="user-name-box fs-12 bold" style="">{{u.name}}</div>

		<div ondrop="angular.element(this).scope().dropTask(event, angular.element(this).scope().u.id)" ondragover="angular.element(this).scope().allowDrop(event)" style="height: 100%" data-taskcontaoner = "true">

			<div style="white-space: normal; margin-bottom: 15px" ng-repeat="t in u.tasks track by $index" draggable="true" ondragstart="angular.element(this).scope().dragTask(event, angular.element(this).scope().u.id, angular.element(this).scope().t.id)" data-taskdiv = "true">

				<div class="ui card task-card" ng-style="{'border-color': taskStatus[t.status].color}">
				    <div class="content">
				    	<div class="right floated time">
				    		<div class="ui dropdown dropdown-custom fs-10" ng-style="{'background': taskStatus[t.status].color}">
								<div class="text">{{taskStatus[t.status].status}}</div>
								<i class="dropdown icon"></i>
								<div class="menu">
									<div class="item" ng-repeat="(sid, stat) in taskStatus track by $index" data-value={{sid}} 
									data-text="{{stat.status}}" ng-click="updateTaskStatus(t.id, sid, stat.color)">{{stat.status}}</div>
								</div>
				    		</div>
			    		</div>
						<div class="bold fs-12 ellipsis">{{t.title}}</div>
						<div class="description fs-12">{{t.description}}</div>
				    </div>
			  	</div>
			</div>

			<div class="ui centered card new-task-card new-task-form-button clickable" style="padding: 15px; text-align: center;">
				<div><i class="plus square outline icon"></i></div>
				<p class="fs-12">Create Task</p>
			</div>
			<div class="ui special popup">
				<div task-form-directive class="ui" pid="pid" uid="u.id" allstatus="taskStatus" create-new-task="createNewTask(pid, uid, title, description, selectedStatus)">???</div>
			</div>
		</div>
	</div> 
	<div class="user-task"> 
		<div class="user-name-box clickable add-new-user fs-12" style="color: #ccc">Add New User</div>
		<div class="ui special popup">
			<div class="ui card">
			  <div class="content">
			    <div class="header">Add User</div>
			  </div>
			  <div class="content">
			    <div class="ui form">
					<label></label>
					<select class="ui fluid search dropdown" ng-model="selectedUser">
		  				<option value="">Select</option>
		  				<option ng-repeat="u in users track by $index" value="{{u.id}}">{{u.name}}</option>
					</select>
				</div>
			  </div>
			  <div class="extra content">
			    <button class="ui button right floated submit-button" ng-click="addProjectUser(selectedUser)">ADD</button>
			  </div>
			</div>
		</div>
	</div>
</div>
